# Compiled output
dist/
tmp/
out-tsc/
build/

# Node
node_modules/
npm-debug.log
yarn-error.log

# Angular
.angular/

# Tests
coverage/
__screenshots__/
testem.log

# Env
.env
.env.*
!.env.example

# IDEs and editors
.idea/
.project
.classpath
*.launch
.settings/
*.sublime-workspace
.history/

# Visual Studio Code
.vscode/*
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
!.vscode/tasks.json

# System files
.DS_Store
Thumbs.db
